body{
    margin: 0;
}
.navbar{
    border: 1px solid black;
    background-color: black;
    margin: 0;
    
}

.logo{
    width: 100px;
    height: 100px;
}


.btn-imgs{
    width: 50%;
    height: 50%;
}
.item{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    width: 10%;

}
.btn{
    width: 150px;
    height: 60px;
    background-color:#2A88DF ;
    border: 0;
    color: white;
}
.mdiv{
    border: 1px solid black;
}
.chart {
    /* border: 1px solid black; */
    margin: 5%;
    box-shadow: 5px 5px 15px gray;
}
